/bin/
/doc/
.classpath
.project
*.jardesc
target/
.settings/
/core/jars/
/core/beautyquests-core.iml
/.idea/.gitignore
/dist/beautyquests.iml
/beautyquests-parent.iml
/v1_16_R3/beautyquests-v1_16_R3.iml
/.idea/compiler.xml
/core/dependency-reduced-pom.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ch_ethz_globis_phtree_phtree_2_3_0.xml
/.idea/libraries/Maven__com_github_MilkBowl_VaultAPI_1_7.xml
/.idea/libraries/Maven__com_gmail_filoghost_holographicdisplays_holographicdisplays_api_2_4_4.xml
/.idea/libraries/Maven__com_google_code_findbugs_annotations_3_0_0.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
/.idea/libraries/Maven__com_google_guava_guava_21_0.xml
/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Maven__com_sk89q_commandbook_2_3.xml
/.idea/libraries/Maven__com_sk89q_worldedit_worldedit_bukkit_7_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__com_sk89q_worldedit_worldedit_core_7_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__com_sk89q_worldedit_worldedit_libs_core_7_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__com_sk89q_worldguard_worldguard_bukkit_7_0_2.xml
/.idea/libraries/Maven__com_sk89q_worldguard_worldguard_core_7_0_2.xml
/.idea/libraries/Maven__com_sk89q_worldguard_worldguard_libs_core_7_0_2.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__de_schlichtherle_truezip_6_8_3.xml
/.idea/libraries/Maven__fr_mrmicky_FastBoard_1_1_0.xml
/.idea/libraries/Maven__fr_skytasul_accountshook_1_4_0.xml
/.idea/libraries/Maven__io_lumine_xikage_MythicMobs_4_9_2.xml
/.idea/libraries/Maven__io_papermc_paperlib_1_0_2.xml
/.idea/libraries/Maven__it_unimi_dsi_fastutil_8_2_1.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__me_clip_placeholderapi_2_10_9.xml
/.idea/libraries/Maven__net_citizensnpcs_citizens_main_2_0_27_SNAPSHOT.xml
/.idea/libraries/Maven__net_citizensnpcs_citizensapi_2_0_27_SNAPSHOT.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_annotations_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_cio_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_io_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_key_console_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_key_default_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_key_macosx_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_key_spec_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_key_swing_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_logging_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_services_2_5_0.xml
/.idea/libraries/Maven__net_java_truecommons_truecommons_shed_2_5_0.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_access_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_access_swing_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_comp_ibm437_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_comp_tardriver_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_comp_zip_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_comp_zipdriver_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_file_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_http_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_jar_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_odf_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_tar_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_tar_bzip2_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_tar_gzip_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_tar_xz_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_zip_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_driver_zip_raes_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_kernel_impl_2_13_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_kernel_spec_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_profile_base_2_13_0_12_1.xml
/.idea/libraries/Maven__net_java_truevfs_truevfs_profile_default_2_13_0_12_1.xml
/.idea/libraries/Maven__net_sf_trove4j_trove4j_3_0_3.xml
/.idea/libraries/Maven__org_antlr_antlr4_runtime_4_7_2.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_19.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_10.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_12.xml
/.idea/libraries/Maven__org_bouncycastle_bcprov_jdk15on_1_63.xml
/.idea/libraries/Maven__org_bstats_bstats_bukkit_1_7.xml
/.idea/libraries/Maven__org_bukkit_bukkit_1_13_1_R0_1_SNAPSHOT.xml
/.idea/libraries/Maven__org_flywaydb_flyway_core_3_0.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_jetbrains_annotations_19_0_0.xml
/.idea/libraries/Maven__org_mozilla_rhino_1_7_11.xml
/.idea/libraries/Maven__org_scala_lang_scala_library_2_13_1.xml
/.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_28.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
/.idea/libraries/Maven__org_spigotmc_spigot_1_16_4_R0_1_SNAPSHOT.xml
/.idea/libraries/Maven__org_tukaani_xz_1_8.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_21.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
